header {
 background: #FFFFFF;
  padding-top:10px;
}

.logo{
padding-left:15px;
}

ul li {
  display: block;
  margin: 0;
  padding: 0;
}

.menu{
  margin-top:22px;
}

.menu__item{
}
.menu__item a {
  font-family: "SF UI Display",sans-serif;
  font-size: 20px;
  color:$primaryColor;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.menu__item a:hover{
  border-bottom: 3px solid $primaryColor;
}
#menu__dropitem a:hover{
  border-bottom: 3px solid transparent;
}
.menu__dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  width: 150%;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  z-index: auto;
}

.dropdown__content a{
  color: $primaryColor;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown__content a:hover {
  background-color: $primaryColor;
  color: #FFFFFF;
}

.menu__dropdown:hover .dropdown__content {
  display: block;
}

.login{
  width: 145px;
  height: 36px;
  background-color: $primaryColor;
  margin-top: 20px;
  border-radius: 10px;
  border-color: $primaryColor;
  cursor: pointer;
}

.login a.login__text{
  text-decoration: none;
  font-size: 18px;
  color:white;
}

.login:hover{
  opacity: 0.9;
  //transform: scale(1.1);
  //transition: all 2ms;
}

.submit_button{
  background-color: $primaryColor;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  width:100px;
  height:36px;
}

.dropdown-item:hover{
  background-color: $primaryColor;
  color: #FFFFFF;
}

.menu .menu__icon{
  display: none;
}

.burger{
  font-size: 30px;
  color: $primaryColor;
  padding-top: 20px;
  padding-right:15px;
}

@media (max-width: 992px){
  .menu{
    padding-right: 24px;
    display: none;
    text-align: center;
  }
  .logo{
    width: 50%;
    padding-bottom:5px;
  }
  .menu__item{
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: $primaryColor;
    box-sizing: border-box;
  }
  .menu__item a{
    color:white;
  }
  .dropdown__content a{
    color: $primaryColor;
  }
  .login__icon{
    font-size: 30px;
    padding-top:15px;
    color: $primaryColor;
  }
  .active{
    display:block;
  }
  .dropdown-menu{
    margin-left: 17em;
  }
  .card{
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 767px){
  .logo{
    padding-left: 0;
    width: 70%;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .menu__dropdown{
    display: block;
  }
  .dropdown__content{
    display: none;
    position: relative;
    width: 100%;
    background-color: white;
    margin: auto;
  }
  .dropdown__content a{
    display: block;
    margin: auto;
  }
  .dropdown__content:hover{
    display:block;
  }
  .burger{
    padding-right: 0;
  }
  .menu{
    padding-right: 30px;
    display: none;
    text-align: center;
  }
  .login__icon{
    padding-left: 0.5em;
  }
  .active{
    display: block;
  }
  .dropdown-menu{
    width: 100%;
    margin: auto;
  }
  .card{
    width: 80%;
    margin: 0 auto;
  }
}