.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: $headerHeight;
  font-size: 15px;
  background-color: $whiteColor;
  opacity: 0.9;
  z-index: 1000;

  .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 $freeSpace 0 $freeSpace;

    .logo {
      background-image: url('../images/Logo_UL.png');
      //padding-left: 86px;
      //padding-bottom: 8px;
      //padding-top: 10px;
      //float: left;
      //cursor: pointer;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 120px;
      height: $headerHeight - 3;
      margin-top: 3px;
    }

    .menu {
      display: flex;
      list-style: none;
      height: 100%;
      align-items: center;

      li {
        a {
          font-family: SFUIDisplay-Medium;
          font-size: 20px;
          font-weight: 500;
          color: $primaryColor;
          text-decoration: none;
          cursor: pointer;
        }

        a:hover {
          border-bottom: 3px solid $primaryColor;
          cursor: pointer;
        }
      }
      .login {
        background-color: $primaryColor;
        max-width: 100%;
        display: block;
        width: 145px;
        height: 36px;
        border-radius: 6px;
        box-sizing: border-box;
        float: right;
        margin-left: 60px;
        margin-right: 86px;
        margin-top: -7px;
        cursor: pointer;
        transition: all 0.3s ease 0s;

      }
      .login:hover {
          background: #343059;
      }
    }
  }
}


//
//
///* Moving the logo to the right place in the header*/
//header img {
//  padding-left: 86px;
//  padding-bottom: 8px;
//  padding-top: 10px;
//  float: left;
//  cursor: pointer;
//}
//
//
//nav {
//  padding-top: 24px;
//}
//
///* styling the menu in the line */
//.menu li {
//  display: inline-flex;
//  list-style: none;
//  padding-left: 105px;
//}
//
///* styling text in the menu */
//.menu li a {
//  font-family: SFUIDisplay-Medium;
//  font-size: 20px;
//  font-weight: 500;
//  color: #4d4886;
//  text-decoration: none;
//  cursor: pointer;
//}
///* adding some magic */
//.menu li a:hover{
//  border-bottom: 3px solid #4d4886;
//  cursor:pointer;
//}
///*that's for the login button*/
//.menu
//.login{
//  background-color: #4d4886;
//  max-width: 100%;
//  display: block;
//  width: 145px;
//  height: 36px;
//  border-radius: 6px;
//  box-sizing: border-box;
//  float: right;
//  margin-left: 60px;
//  margin-right: 86px;
//  margin-top: -7px;
//  cursor: pointer;
//  transition: all 0.3s ease 0s;
//}
//
//.menu .login:hover {
//  background: #343059;
//}
