.tales{
  width: 100%;
}

.carousel-inner{
  display: flex;
  width:100%;
  max-height: 500px !important;
}
.carousel-inner .img {

}


.section_name{
  color: white;
  text-align: center;
}
.section_name span{
  background-color: $primaryColor;
  padding:5px;
}
