$blackColor: #333;
$whiteColor: #ffffff;
//$greyColor: #e8e8e8;
$primaryColor: #4d4886;
$secondaryColor: #4d4886;
$successColor: #87bf0a;
$errorColor: #e82c0c;
$freeSpace: 24px;
$headerHeight: 81px;
$footerHeight: 49px;
$borderRadius: 2px;

