@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";

// Подключение своих SCSS файлов
@import "header";
@import "news";
@import "components/auth";
@import "typography";
@import "account";

//Спецификация
body{
  font-family: "SF UI Display", sans-serif;
  background-color: #EFEFEF;
}

html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}

a{
  text-decoration: none;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5{
  margin-bottom: 0;
}
@import "footer";
