<% include layout/header.ejs%>
<div class="container">
    <div class="row pt-5 title_padding mt-5 mb-5">
        <div class="col-lg-12 d-flex justify-content-center pt-5">
            <div class="title">
                <div class="title_main">
                    <h2 class = 'h3'>
                        ЛИЧНЫЙ КАБИНЕТ
                    </h2>
                </div>
            </div>
        </div>
    </div>

     <div class="row">
         <div class="col-lg-6 account pt-5">
             <div class="account__pic ml-auto mr-auto">
                 <img src="/images/account__pic.jpg" alt="avatar">
             </div>
             <div class="pt-5 text-center">
                 <span class="account__nickname">Nickname__</span>
                 <a href = '#'><span class="ml-5"><i class="fas fa-edit"></i></span></a>
             </div>

             <hr class = 'account__divider'>

             <div class="account__info pt-2 pb-2 text-center">
                 <p>Иван Иванов</p>
                 <p>РАНХиГС</p>
                 <p>19 лет</p>
                 <p>Dota 2</p>
                 <p>Carry/Mid</p>
             </div>

             <hr class = 'account__divider'>

             <div class="account__social text-center">
                 <a href = '#'><i class="fab fa-steam"></i></a>
                 <a href = '#'><i class="fab fa-vk"></i></a>
                 <a href = "#"><i class="fab fa-instagram"></i></a>
             </div>
         </div> <!--col-lg-6-->
         <div class="col-lg-6 statistics pt-lg-5">
             <div class = 'statistics__title text-center pt-lg-5'>
                 <h2>Статистика</h2>
             </div>

             <div class="statistics__kda d-flex justify-content-around align-items-center mt-5">
                 <h4> KDA: </h4>
                 <h5 class = 'statistics__kda__result'> 1.75 </h5>
             </div>

             <div class="statistics__mmr d-flex justify-content-around align-items-center mt-5">
                 <h4> MMR: </h4>
                 <h5 class = 'statistics__mmr__result'> 5000-5500 </h5>
             </div>

             <div class="statistics__heroes d-flex justify-content-around align-items-center mt-5">
                 <h4> Герои: </h4>
                <div class="statistics__heroes__icons d-flex justify-content-between">
                    <img src="https://c-8oqtgrjgwu0x24icogrgfkcx2eewtugefpx2eeqo.g00.gamepedia.com/g00/3_c-8fqvc4.icogrgfkc.eqo_/c-8OQTGRJGWU0x24jvvrux3ax2fx2ficogrgfkc.ewtugefp.eqox2ffqvc4_icogrgfkcx2ffx2ff1x2fDgcuvocuvgt_keqp.rpix3fx78gtukqpx3d7cc08dc7ddcec210hg7h1g08ddg354h6x26k32e.octmx3dkocig_$/$/$/$/$" alt="hero_1" class = 'img-fluid'>
                    <img src="https://c-8oqtgrjgwu0x24icogrgfkcx2eewtugefpx2eeqo.g00.gamepedia.com/g00/3_c-8fqvc4.icogrgfkc.eqo_/c-8OQTGRJGWU0x24jvvrux3ax2fx2ficogrgfkc.ewtugefp.eqox2ffqvc4_icogrgfkcx2f0x2f0gx2fCpvk-Ocig_keqp.rpix3fx78gtukqpx3dh77d3f53fh4e064gdf5g8343h6fe735fx26k32e.octmx3dkocig_$/$/$/$/$" alt="hero_2" class="img-fluid">
                    <img src="https://c-8oqtgrjgwu0x24icogrgfkcx2eewtugefpx2eeqo.g00.gamepedia.com/g00/3_c-8fqvc4.icogrgfkc.eqo_/c-8OQTGRJGWU0x24jvvrux3ax2fx2ficogrgfkc.ewtugefp.eqox2ffqvc4_icogrgfkcx2f8x2f83x2fEjgp_keqp.rpix3fx78gtukqpx3d2h049150d85f869f488eg0h835e054gfx26k32e.octmx3dkocig_$/$/$/$/$" alt="hero_3" class="img-fluid">
                </div>
             </div>

         </div>
     </div>
</div>

<% include layout/footer.ejs%>