<% include layout/header.ejs%>

<!--<div class="main">-->
    <!--<div class="container">-->
        <!--<div class="quote">-->
            <!--<button class="registration"><a href="/">Регистрация</a>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="news_full">-->
            <!--<div class="title"><a>ГЛАВНЫЕ НОВОСТИ</a></div>-->
            <!--<div class="news_section">-->
                <!--<% include layout/news.ejs%>-->
            <!--</div>-->
        <!--</div>-->


    <!--</div>-->

<!--</div>-->
<% include layout/footer.ejs%>

