<% include layout/header.ejs%>
<div class="container">
    <div class="row pt-5 title_padding mt-5 mb-5">
        <div class="col-lg-12 d-flex justify-content-center pt-5">
            <div class="title">
                <div class="title_main">
                    <h2 class = 'h3'>
                        ТУРНИРЫ
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 profile pt-5">
            <div class="profile__pic ml-auto mr-auto">
                <img src="/images/UL_tournament.png" alt="avatar_tournament" class = 'img-fluid'>
            </div>
            <div class="pt-3 profile__info">
                <div class="profile__info__nickname text-center account__nickname">University League</div>
                <div class="profile__info__text pt-5 pb-5">
                    <div class="profile__info__text__prize d-block text-center pb-3">
                        <p class = 'profile__info__text__additional'>16 000 рублей</p>
                    </div>
                   <div class="profile__info__text__format d-block text-center pb-3">
                       <p class = 'profile__info__text__additional'>Групповой этап/Double Elimination</p>
                   </div>
                   <div class="profile__info__text__number d-block text-center pb-3">
                       <p class = 'profile__info__text__additional' id="teams_number">30 команд</p>
                   </div>
                    <div class="profile__info__text__org d-block text-center pb-3">
                        <p class = 'profile__info__text__additional'>DreamBig esports</p>
                    </div>
                    <div class="profile__info__text__games d-block text-center">
                        <p class = 'profile__info__text__additional'>Dota2, CS:GO, Overwatch</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 tournament__stats">
            <div class="row">
            <div class="tournament__stats__date pt-5 ml-lg-auto ml-3">
                <div class="menu__dropdown">
                    <button class="tournament__dropdown dropdown-toggle">Season Mars</button>
                    <div class="dropdown__content">
                        <a href="/" class = 'dropdown__content__text'>Season 1</a>
                        <a href="#" class = 'dropdown__content__text'>TBA</a>
                        <a href="#" class = 'dropdown__content__text'>TBA</a>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-12 statistics">
                    <div class = 'statistics__title text-center pb-4'>
                        <h2>Последние матчи</h2>
                    </div>
            </div>
        </div>
            <div class="row">
                <div class="col-12 ml-lg-5 mt-lg-2 col-lg-10  matches pt-5 pb-5 d-flex justify-content-center">
                    <a href = '#'>
                    <div class="matches__one d-inline-flex">
                        <div class = 'd-block'>
                            <p class = 'team__one h3'>Team SEX</p>
                            <p class = 'team__one_college text-secondary text-center'>НИУ ВШЭ</p>
                        </div>
                        <div class = 'matches__score d-flex'>
                            <p class = 'matches__score__left ml-5 h3'>2</p>
                            <p class = 'matches__score__dots ml-2 h3'>:</p>
                            <p class = 'matches__score__right ml-2 h3'>0</p>
                        </div>
                       <div class = 'd-block ml-5'>
                           <p class = 'team__second h3'>Team SEX</p>
                           <p class = 'team__second_college text-secondary text-center'>НИУ ВШЭ</p>
                       </div>
                    </div>
                    </a>
                </div>

                <div class="col-12 ml-lg-5 mt-lg-2 col-lg-10  matches pt-5 pb-5 d-flex justify-content-center">
                    <a href = '#'>
                    <div class="matches__one d-inline-flex">
                        <div class = 'd-block'>
                            <p class = 'team__one h3'>Team SEX</p>
                            <p class = 'team__one_college text-secondary text-center'>НИУ ВШЭ</p>
                        </div>
                        <div class = 'matches__score d-flex'>
                            <p class = 'matches__score__left ml-5 h3'>2</p>
                            <p class = 'matches__score__dots ml-2 h3'>:</p>
                            <p class = 'matches__score__right ml-2 h3'>0</p>
                        </div>
                        <div class = 'd-block ml-5'>
                            <p class = 'team__second h3'>Team SEX</p>
                            <p class = 'team__second_college text-secondary text-center'>НИУ ВШЭ</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-12 ml-lg-5 mt-lg-2 col-lg-10  matches pt-5 pb-5 d-flex justify-content-center">
                    <a href = '#'>
                    <div class="matches__one d-inline-flex">
                        <div class = 'd-block'>
                            <p class = 'team__one h3'>Team SEX</p>
                            <p class = 'team__one_college text-secondary text-center'>НИУ ВШЭ</p>
                        </div>
                        <div class = 'matches__score d-flex'>
                            <p class = 'matches__score__left ml-5 h3'>2</p>
                            <p class = 'matches__score__dots ml-2 h3'>:</p>
                            <p class = 'matches__score__right ml-2 h3'>0</p>
                        </div>
                        <div class = 'd-block ml-5'>
                            <p class = 'team__second h3'>Team SEX</p>
                            <p class = 'team__second_college text-secondary text-center'>НИУ ВШЭ</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-12 ml-lg-5 mt-lg-2 col-lg-10  matches pt-5 pb-5 d-flex justify-content-center">
                    <a href = '#'>
                    <div class="matches__one d-inline-flex">
                        <div class = 'd-block'>
                            <p class = 'team__one h3'>Team SEX</p>
                            <p class = 'team__one_college text-secondary text-center'>НИУ ВШЭ</p>
                        </div>
                        <div class = 'matches__score d-flex'>
                            <p class = 'matches__score__left ml-5 h3'>2</p>
                            <p class = 'matches__score__dots ml-2 h3'>:</p>
                            <p class = 'matches__score__right ml-2 h3'>0</p>
                        </div>
                        <div class = 'd-block ml-5'>
                            <p class = 'team__second h3'>Team SEX</p>
                            <p class = 'team__second_college text-secondary text-center'>НИУ ВШЭ</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-12 col-lg-10 ml-lg-5 p-0">
                <div class="more_matches d-flex justify-content-center">
                    <a href = '#'>
                        <p class = 'more_matches__show d-block'>Показать больше</p>
                    </a>
                </div>
                </div>
            </div>
    </div>
</div>
</div>
<% include layout/footer.ejs%>