<footer>
    <div class="container">
        <a href="/" class ='logo_dreambig'></a>
        <div class="copyright">2019 © University League</div>
    </div>

</footer>
<script src="/javascripts/jquery.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>

</body>

</html>