<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>University League</title>
    <link rel="stylesheet" href="<%= assetFingerprint('/css/styles.css') %>">
</head>


<body>
<header class = "header">
    <div class="container">
        <a href="/" class ='logo'></a>
            <ul class="menu">
                <li><a href="/">Новости</a></li>
                <li><a href="/">Турниры</a></li>
                <li><a href="/">Команды</a></li>
                <li><a href="/">О нас</a></li>
                <button class="login"> Войти </button>
            </ul>
    </div>
</header>