<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>University League</title>
    <link rel="stylesheet" href="<%= assetFingerprint('/css/styles.css') %>">
</head>
<body>
<header>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand mr-5" href="#"><img src="/images/Logo_UL_vector.svg" alt="logo" class = 'logo'></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link mr-5" href="#"> Новости <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-5" href="#"> Команды</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mr-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Турниры
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">University League</a>
                        <a class="dropdown-item" href="#">ВКСЛ</a>
                        <a class="dropdown-item" href="#">МКЛ</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"> О нас</a>
                </li>

            </ul>


            <% include login.ejs%>
        </div>
    </nav>
    </div>

</header>
