<div class="newsPic">
    <a href="/" class="pictures"><img src="../../dist/images/novost.png" alt="novost2'"></a>
    <div class="underNews">
        <div class="underNewstext"><a href="/">Секс Снова на Высоте</a></div>
        <div class="hashtag"><a href="/">#турниры</a></div>
    </div>
</div>