<span>
    <div class="media">
        <img src="/images/photo.png" class="align-self-center mr-3" alt="...">

    </div>

    <span class="photo">
        <h2>Главные Новости</h2>
    </span>

    <div class="card-deck">

        <div class="card">
            <img src="/images/novost.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card">
            <img src="/images/novost.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

    </div>
</span>

